<h1>注文履歴一覧</h1>
<table border="1">
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>注文詳細</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= order.address %></td>
      <td>></td>
      <td>い</td>
      <td>う</td>
      <td>え</td>
    </tr>
    <% end %>
  </tbody>
</table>