<div class="container">
  <div class="row my-5 py-5">
    <div class="col-7 m-auto py-5 text-center">
      <br>
      <br>
      <br>
      <br>
        <h1>ご注文ありがとうございました</h1>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

