/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
 }
 
 th {
     padding: 10px;
 }
 
 td {
     padding: 10px;
 }

 /*header*/

 header {
   height: 150px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #000;
   background-color: khaki;
 }

 .header-left {
    height: 60px;
    width: 300px;
 }

 .header-left a {
    display:block;
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #fff;
 }

 .header-right {
    width: 700px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
 }

 .logo {
    text-decoration: none;
    font-family: "Arial Black";
    line-height: 60px;
 }

 .logo:visited {
    color: #000;
 }

 .navbar {
   list-style: none;
   margin-top: 30px;
   margin-right: 30px;
 }

 .nav-items {
   display: inline-block;
   width: 120px;
 }

 .nav-items a {
   display: block;
   margin-left: 20px;
   padding: 10px 0;
   text-align: center;
   border-radius: 5px;
   border: 1px solid #000;
   background-color: #fff;
 }

 .nav-link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
 }

 .nav-link:visited {
    color: #000;
 }

 .search {
    line-height: 50px;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-right: 30px;
 }

 /*footer*/

  footer {
    height: 100px;
    border-top: 1px solid #000;
    background-color: khaki;
 }

 /*sign_up*/
 .container {
   margin: 50px auto 400px;
   width: 800px;
   height: 200px;
 }

 .sign-in-form {
   margin: 50px auto 400px;
   width: 800px;
   height: 200px;
 }

 .sign-in-form h2 {
   margin-left: -100px;
   border-bottom: 8px solid #f0f0f0;
   width: 180px;
   text-align: center;
   margin-bottom: 30px;
 }

 .sign-in-form h3 {
   border-bottom: 8px solid #f0f0f0;
   text-align: center;
   width: 270px;
   margin-bottom: 20px;
   margin-top: 30px;
 }

 .form {
	 display: flex;
 }

 .form-title {
   line-height: 50px;
	 width: 150px;
 }

 .transmission {
   margin-top: 20px;
 }

 /* form-size */

 .form-size {
   width: 200px;
   height: 40px;
   margin: 5px 0;
   font-size: 18px;
 }

 .form-size2 {
   width: 250px;
   height: 40px;
   margin: 5px 0;
   font-size: 18px;
 }

 .form-size3 {
   width: 400px;
   height: 40px;
   margin: 5px 0;
 }

 /*btn*/

 .btn {
   width: 200px;
   height: 40px;
   border-radius: 5px;
   font-weight: bold;
   font-size: 16px;
   color: #fff;
 }
 
 .btn2 {
   width: 150px;
   height: 40px;
   border-radius: 5px;
   font-weight: bold;
   font-size: 16px;
   color: #fff;
 }

 .btn-login {
   background-color: lightskyblue;
 }