/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
 }

 /*header*/

 header {
   height: 150px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #000;
   background-color: khaki;
 }

 .header-left {
    height: 60px;
    width: 300px;
 }

 .header-left a {
    display:block;
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #fff;
 }

 .header-right {
    width: 700px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
 }

 .logo {
    text-decoration: none;
    font-family: "Arial Black";
    line-height: 60px;
 }

 .logo:visited {
    color: #000;
 }

 .navbar {
   list-style: none;
   margin-top: 30px;
   margin-right: 30px;
 }

 .nav-items {
   display: inline-block;
   width: 120px;
 }

 .nav-items a {
   display: block;
   margin-left: 20px;
   padding: 10px 0;
   text-align: center;
   border-radius: 5px;
   border: 1px solid #000;
   background-color: #fff;
 }

 .nav-link {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
 }

 .nav-link:visited {
    color: #000;
 }

 .search {
    line-height: 50px;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-right: 30px;
 }
 /*main*/
 
 .container {
   margin: 50px auto 400px;
   width: 800px;
   height: 200px;
 }

 /*footer*/

  footer {
    height: 100px;
    border-top: 1px solid #000;
    background-color: khaki;
 }

/*genre*/

 .genre-row {
   display: flex;
   justify-content: space-between;
   list-style: none;
 }
 
 /*item_details*/
 
 .item-show {
   display: flex;
 }
 
  /* table */
th {
 background-color: lightgray;
 padding: 8px;
}
 
td {
 padding: 3px;
}
 
.table1 {
 width: 300px;
}
 
.table2 {
 width: 800px;
}
 
/*btn*/

.btn {
 width: 200px;
 height: 40px;
 border-radius: 5px;
 font-weight: bold;
 font-size: 16px;
 color: #fff;
}
 
.btn2 {
 width: 150px;
 height: 40px;
 border-radius: 5px;
 font-weight: bold;
 font-size: 16px;
 color: #fff;
 }

/*btn-type*/

.btn-login {
 background-color: lightskyblue;
 }

/*form dl dt dd*/

.flex {
 display: flex;
}

.list-none {
  list-style: none;
}

.form-title {
 line-height: 50px;
 width: 150px;
}

.form-row {
 line-height: 50px;
}

.margin-left {
 margin-left: 50px;
}

/* form-size */

.form-size {
 width: 200px;
 height: 40px;
 margin-bottom: 2px;
 border-radius: 8px;
 }

.form-size2 {
 width: 250px;
 height: 40px;
 margin-bottom: 2px;
 border-radius: 8px;
 }

 .form-size3 {
 width: 500px;
 height: 40px;
 margin-bottom: 2px;
 border-radius: 8px;
 }
